<footer
  class="rounded-lg shadow-sm m-1 bg-black/20 backdrop-blur-lg w-full xl:w-[1120px] mx-auto mb-10"
>
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm sm:text-center text-sky-200/80"
      >© 2025<a class="hover:underline"> Carlos Gómez. </a> Todos los derechos reservados.
          Logos y marcas registradas son propiedad de sus respectivos dueños.
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-white/90 sm:mt-0"
    >
      <li>
        <a href="#sobre-mi" class="hover:underline me-4 md:me-6">Sobre Mí</a>
      </li>

      <li>
        <a href="mailto:calejoga@gmail.com" class="hover:underline">Contacto</a>
      </li>
    </ul>
  </div>
</footer>
